
/* -- CSS Reset -- */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");



* {
  text-rendering: optimizeLegibility;
  margin: 0; 
  animation: fadein 1s;
  }

html {
  background-color: #000000; 
  }

body {
  background-color: #FFFFFF;
  border-style: none; 
  }

a:hover {
  color: #000000; 
  }

a {
  color: #999999; 
  text-decoration: none;
  border: none;
  border-style: none;
  box-shadow: none; 
  }


/* -- Content -- */
@keyframes fadein {
  from {
    opacity: 0.5; }
  to {
    opacity: 1; } }

body {
  height: 100vh;
  width: 100vw;
  
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 45px;
  line-height: 50px;
  letter-spacing: -0.5px;
  color: #999999;
  
  background-image: url("https://www.fabio-stuber.com/images/background.jpg");
  background-position: center center;
  background-size: cover; 
  } 
@media (max-width: 800px) {
  body {
  	font-size: 32px;
    line-height: 40px; } 
  }

.fs-me {
  padding: 5vh 5vw;
  overflow: hidden;
  position: absolute;
  z-index: 10; 
  }
@media (max-width: 500px) {
  .fs-me {
    padding: 5vh 5vw;
    text-align: center; } 
  }

  .fs-me .me-content {
    height: 90vh;
    display: flex;
    flex-direction: column; 
    }
    
.logo {
  flex-direction: column;
  align-self: left;
  animation: fadein 2s; 
  }
@media (max-width: 500px) {
  .logo {
     align-self: center; } 
   }
  .logo img {
   max-width: 200px;
    height: auto; }

.bio {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: -1px;
  max-width: 50%; 
  }
  
@media (max-width: 800px) {
  .bio {
    max-width: none; 
    flex: 1 auto auto;} 
  }

.bio a {
  color: #CCCCCC;
  transition: 0.5s; }
.bio a:hover {
  color: #FFFFFF;
  transition: 0.1s; }

.links {
  position: fixed;
  right: 5vw;
  overflow-y: hidden;
  display: flex;

flex-direction: column;

justify-content: center;

 letter-spacing: -1px;
  max-width: 50%; 
}

  .links a {
    color: #CCCCCC;

    transition: 0.5s; }
    .links a:hover {
      color: #FFFFFF;
      transition: 0.1s; }

@media (max-width: 800px) {
  .links {

    position: relative;

 left: 0vw;
    max-width: none;
    padding: 5vh 0 5vh 0;
    flex: 1 auto auto;} 
  }



.credit {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 0;
  }
  .credit p.copyright {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    opacity: 0.75; }
    .credit p.copyright a {
      color: #dddddd; }
