* {
  box-sizing: border-box;
  justify-content: center;
}
body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 60%;
  margin: 100px auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container .img {
  object-fit: cover;
  width: 100%;
  height: 500px;
  margin: 20px 0px;
  border-radius: 15px;
}

iframe {
  width: 100%;
  aspect-ratio: 21 / 9;
  border: 0;
  border-radius: 15px;
}

.banner {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

article {
  padding: 10px;
}

article,
details {
  background-color: #e0e0e0;
  margin: 20px 0px;
  border-radius: 15px;
}

summary,
details .detailcontent {
  padding: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  padding: 10px;
  background-color: #e0e0e0;
  margin: 10px;
  border-radius: 15px;
  width: 20%;
  padding: 10px;
}

.item img {
  object-fit: cover;
  width: 100%;
}

@media (max-width: 1000px) {
  .container {
    max-width: 90%;
    margin: 100px auto;
  }

  .container .img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    margin: 20px 0px;
    border-radius: 15px;
  }

  .item {
    padding: 10px;
    background-color: #e0e0e0;
    margin: 10px;
    border-radius: 15px;
    width: 40%;
    padding: 10px;
  }
  .banner {
    height: auto;
  }
}

@media (max-width: 800px) {
  .container {
    max-width: 90%;
    margin: 100px auto;
  }

  .container .img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    margin: 20px 0px;
    border-radius: 15px;
  }
}

::-webkit-scrollbar {
  display: none;
}
